<nav class="navbar navbar-expand-lg bg-light mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <button class="btn btn-secondary" [routerLink]="['/logout']">Logout</button>
      </div>
    </div>
</nav>

<div class="card ms-5 me-5">
    <div class="card-body">
        <div>
            <h1>Add Employee</h1>
        </div>
        <form class="row gy-2" (ngSubmit)="save()" ngNativeValidate>
            <div class="col-md-2 col-sm-6 col-12"><label for="username">User Name</label></div>
            <div class="col-md-4 col-sm-6 col-12">
                <input class="form-control w-100 " type="text" name="username" id="username" placeholder="User Name" [(ngModel)]="employeeReq.username" required>
            </div>
            <div class="col-md-2 col-sm-6 col-12"><label for="firstname">First Name</label></div>
            <div class="col-md-4 col-sm-6 col-12">
                <input class="form-control w-100 " type="text" name="firstname" id="firstname" placeholder="First Name" [(ngModel)]="employeeReq.firstName" required>
            </div>
            <div class="col-md-2 col-sm-6 col-12"><label for="lastname">Last Name</label></div>
            <div class="col-md-4 col-sm-6 col-12">
                <input class="form-control w-100 " type="text" name="lastname" id="lastname" placeholder="Last Name" [(ngModel)]="employeeReq.lastName" required>
            </div>
            <div class="col-md-2 col-sm-6 col-12"><label for="email">email</label></div>
            <div class="col-md-4 col-sm-6 col-12">
                <input class="form-control w-100 " type="email" name="email" id="email" placeholder="Email" [(ngModel)]="employeeReq.email" required>
            </div>
            <div class="col-md-2 col-sm-6 col-12"><label for="birthDate">Birth Date</label></div>
            <div class="col-md-4 col-sm-6 col-12">
                <input class="form-control" type="date" name="birthDate" id="birthDate" [max]="dateToday | date:'yyyy-MM-dd'" [(ngModel)]="employeeReq.birthDate" required>
            </div>
            <div class="col-md-2 col-sm-6 col-12"><label for="basicSalary">Basic Salary</label></div>
            <div class="col-md-4 col-sm-6 col-12">
                <input class="form-control" type="number" name="basicSalary" id="basicSalary" [(ngModel)]="employeeReq.basicSalary" required>
            </div>
            <div class="col-md-2 col-sm-6 col-12"><label for="status">status</label></div>
            <div class="col-md-4 col-sm-6 col-12">
                <select class="form-select" name="status" id="status" [(ngModel)]="employeeReq.status" required>
                    <option value="belum menikah">Belum Menikah</option>
                    <option value="menikah">Menikah</option>
                </select>
            </div>
            <div class="col-md-2 col-sm-6 col-12"><label for="group">Group</label></div>
            <div class="col-md-4 col-sm-6 col-12">
                <input class="form-control" type="text" name="group" id="group" [(ngModel)]="keyWord" (ngModelChange)="checkGroup()" required>
                <div class="position-relative">                
                    <select class="form-select position-absolute" *ngIf="isGroupEmpty" size="3" aria-label="size 3 select example">
                        <ng-container *ngFor="let data of results">
                            <option value="" (click)="selectValue(data)">{{data}}</option>
                        </ng-container>                            
                    </select>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-12"><label for="description">Description</label></div>
            <div class="col-md-4 col-sm-6 col-12">
                <input class="form-control" type="date" name="description" id="description" [(ngModel)]="employeeReq.description" required>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-secondary me-4" [routerLink]="['/']">CANCEL</button>
                <button type="submit" class="btn btn-success">SAVE</button>
            </div>
        </form>
    </div>
</div>